$mainColorOfSite: #f16d7f;
$mainDeepColorOfSite: #f26376;
$mainHoverColorOfSite: #e05c6e;
$lightColorOfSite: #ffffff;
$secondLightColorOfSite: #fff;
$thirdLightColorOfSite: #fbfbfb;
$fourthLightColorOfSite: #ebebeb;
$semiDarkColorofSite: #6f6e6e;
$secondSemiDarkColorofSite: #4a4a4a;
$darkColorOfSite: #222222;
$darkBackgroundColorOfSite: #222224;
$thirdDarkColorOfSite: #000000;
$fourthDarkColorOfSite: #2a2a2a15;
$desktopWidthOfSite: 1140px;
$widthOfBurgerMenu: 232px;
